<template>

</template>

<script>
    class SoPresentation extends HTMLElement {

        constructor() {
            super()
        }

        /**
         * @return {string}
         */
        static get VERSION() {
            return '1.0.0'
        }

        connectedCallback() {

        }

        disconnectedCallback() {

        }

        static get observedAttributes() {
            return ['disabled', 'open', 'value'];
        }

        attributeChangedCallback(attrName, oldVal, newVal) {
            console.log('[EventTerminal] attr=%s, oldVal=%s, newVal=%s', attrName, oldVal, newVal)

            if (this.disabled) {
                this.setAttribute('tabindex', '-1');
                this.setAttribute('aria-disabled', 'true');
            } else {
                this.setAttribute('tabindex', '0');
                this.setAttribute('aria-disabled', 'false');
            }
        }

        adoptedCallback() {

        }

        // A getter/setter for an open property.
        get open() {
            return this.hasAttribute('open');
        }

        set open(val) {
            // Reflect the value of the open property as an HTML attribute.
            if (val) {
                this.setAttribute('open', '');
            } else {
                this.removeAttribute('open');
            }
            this.toggleDrawer();
        }

        // A getter/setter for a disabled property.
        get disabled() {
            return this.hasAttribute('disabled');
        }

        set disabled(val) {
            // Reflect the value of the disabled property as an HTML attribute.
            if (val) {
                this.setAttribute('disabled', '');
            } else {
                this.removeAttribute('disabled');
            }
        }

        toggleDrawer() {
        }
    }
</script>